<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <!-- Position Column -->
    <ng-container matColumnDef="dpi">
      <th mat-header-cell *matHeaderCellDef> dpi </th>
      <td mat-cell *matCellDef="let element"> {{element.dpi}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="locations">
        <th mat-header-cell *matHeaderCellDef> locations </th>
        <td mat-cell *matCellDef="let element"> {{element.locations}} </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> fullname </th>
        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <ng-container matColumnDef="vaccine_type">
        <th mat-header-cell *matHeaderCellDef> vaccine_type </th>
        <td mat-cell *matCellDef="let element"> {{element.vaccine_type}} </td>
    </ng-container>

    <ng-container matColumnDef="actionsboton">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 

             <!--create ini -->
            <button type="button" class="btn btn-primary" (click)="addPersonaCovid()">
                <span class="material-icons">
                    add
                    </span>
            </button>
            <!--create fin -->

            <!--update ini -->
           <button type="button" class="btn btn-warning" [routerLink]="['/persona_edit', element.dpi]">
                <span class="material-icons">
                    edit
                    </span>
            </button>
            <!--update fin -->

            <!--delete ini -->
            <button type="button" class="btn btn-danger" (click)="eliminarPersonaCovid(element.dpi, element.fullname)">
                <span class="material-icons">
                    delete
                    </span>
            </button>
            <!--delete fin -->

        </td>

      </ng-container>

      
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<mat-card> 

     <!--create ini -->
     <button type="button" class="btn btn-primary" (click)="addPersonaCovid()">
        <span class="material-icons">
            add
            </span>
    </button>
    <!--create fin -->
    

<!-- 
    <div class="form-group">
        <ng-container *ngIf="tipo_save == 1"> 
            <label class="control-label">
                {{idcategoria}}
            </label>
        </ng-container>

        <input type="text" name="ncategoria" [(ngModel)]="ncategoria" placeholder="Categoria" class="form-control" required>
        <hr>
        <ng-container *ngIf="tipo_save == 0"> 
            <button type="button" class="btn btn-primary" (click)="saveCategoria()">
                Guardar
            </button>
        </ng-container>

        <ng-container *ngIf="tipo_save == 1"> 
            <button type="button" class="btn btn-secondary" (click)="editCate()">
                Modificar
            </button>
            <button type="button" class="btn btn-dark" (click)="cancel()">
                Cancelar
            </button>
        </ng-container>
    </div> -->

</mat-card>
